.navbar {
  margin-top: 5px;
}

.creditcard-info {
  width: 97.35%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: -10px;
  height: 35%;
  background-color: rebeccapurple;
  border-radius: 15px;
}

.card {
  height: 310px;
  width: 500px;
  background-image: linear-gradient(
    rgba(255, 61, 61, 1),
    rgba(255, 61, 61, 0.8)
  );
  border-radius: 20px;
  color: white;
  margin: 20px;
  font-size: 16px;
  box-shadow: 2px 2px 20px #707070;
}

.top-block {
  display: inline-block;
  width: 500px;
  height: 155px;
}

.bottom-block {
  display: inline-block;
  width: 500px;
  height: 155px;
}

.card-chip {
  float: left;
  margin: 20px;
}

.card-name {
  float: right;
  margin: 20px;
  position: relative;
  font-size: 28px;
  font-weight: 550;
}

.balance {
  float: left;
  margin-left: 40px;
  position: relative;
  top: 38px;
}

.card-balance {
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

.card-icon {
  float: right;
  margin: 0 20px 0 0;
  margin-top: 75px;
}

.circle-left {
  margin-right: -15px;
  opacity: 0.7;
}

.card-number {
  font-size: 28px;
  margin: -15px 0 0 0;
  text-align-last: center;
}

.wrapperdiv {
  width: auto;
  /* overflow: hidden; */
}

.add-expense {
  height: 54.5%;
  width: 37.5%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  margin-top: 20px;
  background-color: rebeccapurple;
  border-radius: 20px;
  float: left;
}

.expense-report {
  height: 54.5%;
  width: 57.5%;
  margin-right: 1.25%;
  margin-top: 20px;
  background-color: rebeccapurple;
  float: right;
  border-radius: 20px;
}

.formcontainer {
  margin: auto;
  margin-top: -1.5%;
  height: 97%;
  width: 60%;
  background-color: #99338f;
  border-radius: 15px;
}

.formcontainer h1 {
  text-align: center;
  padding: 0;
  color: #5c5c5c;
  font-size: x-large;
  color: white;
}

.form-style-7 {
  max-width: 100%;
  background: #99338f;
  border-radius: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}
.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10%;
}
.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style-7 li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  padding: 2px 5px 2px 5px;
  color: #b9b9b9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.form-style-7 textarea {
  resize: none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 3px;
  color: #d2e2ff;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
  background: #6b9fff;
  color: #fff;
}

.datatablecontainer {
  margin: auto;
  margin-top: 3%;
  height: 84%;
  width: 90%;
  background-color: #99338f;
  border-radius: 20px;
}
